{% extends 'MineralproCmsBundle::admin_layout.html.twig' %}

{% block body -%}

	<div class="row">
		<div class="col-md-4 col-md-offset-4">
    		
    		<h1>Gallery edit</h1>

    		{{ form_start(edit_form) }}

				<div class="form-group">
					{{  form_label(edit_form.name) }}
					{{  form_widget(edit_form.name, {'attr': {'class': 'form-control'}}) }}
				</div>
				
				<div class="form-group">		
					{{ form_label(edit_form.content) }}
					{{ form_widget(edit_form.content, {'attr': {'class': 'form-control'}}) }}
				</div>

				<div class="form-group">		
					{{ form_label(edit_form.file) }}
					{{ form_widget(edit_form.file) }}
				</div>

				{{ form_widget(edit_form.submit, {'attr': {'class': 'btn btn-primary pull-left'}}) }}

			{{ form_end(edit_form) }}

	        <a href="{{ path('admin_gallery') }}" class="btn btn-default pull-right">Back to the list</a>

		</div>
	</div>

{% endblock %}
