{% extends 'MineralproCmsBundle::admin_layout.html.twig' %}

{% block body -%}

    <div class="container">
        <h1>Gallery list</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Content</th>
                    <th>Path</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{{ entity.name }}</td>
                    <td>{{ entity.content }}</td>
                    <td>{{ entity.path }}</td>
                    <td>
                        <a href="{{ path('admin_gallery_edit', { 'id': entity.id }) }}">edit</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('admin_gallery_new') }}" class="btn btn-primary">Create a new entry</a>
    </div>
{% endblock %}
