{% extends 'MineralproCmsBundle::admin_layout.html.twig' %}

{% block body -%}
	<div class="row">
		<div class="col-md-4 col-md-offset-4">

		    <h1>Gallery item creation</h1>

		    {{ form_start(form) }}

				<div class="form-group">
					{{  form_label(form.name) }}
					{{  form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
				</div>
				
				<div class="form-group">		
					{{ form_label(form.content) }}
					{{ form_widget(form.content, {'attr': {'class': 'form-control'}}) }}
				</div>

				<div class="form-group">		
					{{ form_label(form.file) }}
					{{ form_widget(form.file) }}
				</div>

				{{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary pull-left'}}) }}

			{{ form_end(form) }}

	        <a href="{{ path('admin_gallery') }}" class="btn btn-default pull-right">Back to the list</a>
        </div>
    </div>
{% endblock %}
