{% extends 'MineralproCmsBundle::layout.html.twig' %}

{% block body %}

  <div class="subheader">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h1 class="text-left">Brošure</h1>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      {% for brochure in brochures %}
        <div class="col-md-4 brochure-image">
          <p class="brochure-name">{{ brochure.name }}</p>
          <a href="{{ brochure.getBrochureWebPath }}" target="_blank">
            <img src="{{ brochure.getImagePreviewWebPath | imagine_filter('brochure_preview3') }}" class="thumbnail" alt=""/>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
  


{% endblock %}