{% extends '::base.html.twig' %}

{% block title %} Login {% endblock %}

{% block body %}

    {% if error %}
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <p class="bg-danger">{{ error.message }}</p>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="container">
        <div class="col-md-4 col-md-offset-4">
            <form action="{{ path('login_check') }}" method="post">
                <div class="form-group">
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="_username" class="form-control input-lg"/>
                </div>

                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="_password" class="form-control input-lg"/>
                </div>
                <div class="checkbox">
                    <label>
                      <input type="checkbox" id="remember_me" name="_remember_me"> Keep me logged in
                    </label>
                </div>


                <button type="submit" class="btn btn-default">login</button>
            </form>
        </div>
    </div>

{% endblock %}