<!DOCTYPE html>
{% block html %}<html>{% endblock %}
    <head>
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('styles/bootstrap/bootstrap.min.css')}}" type="text/css">
            <link rel="stylesheet" href="{{ asset('styles/custom.css')}}" type="text/css">
            <link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatibile" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    {% block bodyTag %}<body>{% endblock %}
        

        {% block navigation %}{% endblock %}
        {% block body %}{% endblock %}
        {% block footer %}{% endblock %}


        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
            <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        {% endblock %}

    </body>
</html>