body {
  font-family: 'Ubuntu', sans-serif;
  padding-top: 90px;
  color: #666;
}

body.admin {
  padding-top: 0px;
}

.container {
  margin-top: 25px;
  margin-bottom: 25px;
}

.navbar-custom {
  border-top: 3px solid #457A9C;
  border-bottom: 3px solid #457A9C;
	background-color:#ffffff;
  color:#ffffff;
  border-radius:0;
}
  
.navbar-custom .navbar-nav > li > a {
	color: #666;
  font-size: 16px;
	padding-left:20px;
	padding-right:20px;
}
      
.navbar-custom .navbar-brand {
  padding: 0;
  height: 53px;
  width: 184px;
}

.navbar-right .dropdown-menu {
   left: 0; 
}

div.heroSubheader, div.subheader {
  background-color: #457A9C;
  color: #ffffff;
}

div.subheader {
  margin-bottom: 50px;
}

div.heroSubheader h1 {
  padding-bottom: 30px;
}

div.subheader h1 {
  padding-top: 24px;
  padding-bottom: 10px;
  padding-left: 15px;
  font-size: 30px;
}

div.custom {
  padding-bottom: 20px;
}

div.custom h1 {
  padding-bottom: 20px;
}

div.custom p {
  line-height: 18px;
}

div.client-logos {
 margin-bottom: 60px;
}

div.client-logos .col-md-4 {
  padding-bottom: 50px;
}


.img-center {
  margin:0 auto;
  
}

p.brochure-name {
  font-size: 15px;
}

.glyphicon {
  font-size: 15px;
  margin-left: 5px;
}

div.brochure-image {
  padding-bottom: 50px;
}

footer {
  padding: 40px 0;
  background-color: #000000;
  border-top: 3px solid #457A9C;
  margin-top: 50px;
}

.logos {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.logos li{
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
}

div.company-branch {
  margin-bottom: 30px;
}

div.company-branch h3 {
  margin-bottom: 3px;
}

div.company-branch p {
  margin-bottom: 3px;
}

div.employee-data {
  margin-bottom: 20px;
}

div.employee-data p {
  margin-bottom: 3px;
}

table.supstrates-pricelist tr td:first-child {
  width: 60%;
}