{% extends 'MineralproCmsBundle::layout.html.twig' %}

{% block body %}

	<div class="subheader">
		<div class="row">
          <div class="col-md-8 col-md-offset-2">
            <h1 class="text-left">{{ page.name }}</h1>
          </div>
        </div>
	</div>

	
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			{{ page.content | raw }}
		</div>
	</div>
	

{% endblock %}
