{% extends 'MineralproCmsBundle::layout.html.twig' %}

{% block body %}

	<div class="subheader">
		<div class="row">
          <div class="col-md-8 col-md-offset-2">
            <h1 class="text-left">Galerija</h1>
          </div>
        </div>
	</div>

	<div class="container">
		<div class="row">
			{% for item in gallery %}
				<div class="col-md-4">
					<h3>{{ item.name }}</h3>
					<p>{{ item.content }}</p>
					<img src="{{ item.getWebPath | imagine_filter('gallery') }}" class="img-rounded" alt=""/>
				</div>
			{% endfor %}
		</div>
	</div>

{% endblock %}