{% extends 'MineralproCmsBundle::layout.html.twig' %}

{% block body %}
	
	<div class="jumbotron heroSubheader">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <h1 class="text-center">{{ home.heroContent }}</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="container custom">
      <h1 class="text-center">{{ home.title }}</h1>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
        	{{ home.content | raw}}
        </div>
      </div>
    </div>
    <div class="row">
      <h1 class="text-center">Kompanije koje zastupamo</h1>
    </div>
    <div class="container">
      <ul class="logos">
        {% for logo in companyLogos %}
          <li>
            <a href="http://{{ logo.link }}" target="_blank">
              <img src="{{ logo.getWebPath | imagine_filter('company_logo') }}" class="img-responsive"/>
            </a>
          </li>
        {% endfor %}
      <ul>
    </div>

	

{% endblock %}