{% extends 'MineralproCmsBundle::admin_layout.html.twig' %}

{% form_theme edit_form 'bootstrap_3_layout.html.twig' %}

{% block body -%}
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
    		<h1>Page edit</h1>

    		{{ form(edit_form) }}

     		 <a href="{{ path('admin_page') }}" class="btn btn-default">Back to the list</a>
      
			{{ form(delete_form) }}
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	<script src=" {{ asset('js/ckeditor/ckeditor.js') }}">
	</script>
	<script>
		CKEDITOR.replace('mineralpro_cmsbundle_page_content');
	</script>

{% endblock %}
