{% extends 'MineralproCmsBundle::admin_layout.html.twig' %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block body -%}
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
    		<h1>Page creation</h1>

    		{{ form(form) }}

    		<a href="{{ path('admin_page') }}" class="btn btn-default">Back to the list</a>
		</div>
  </div>
{% endblock %}


{% block javascripts %}
	<script src=" {{ asset('js/ckeditor/ckeditor.js') }}">
	</script>
	<script>
		CKEDITOR.replace('mineralpro_cmsbundle_page_content');
	</script>

{% endblock %}
