{% extends 'MineralproCmsBundle::admin_layout.html.twig' %}

{% block body -%}
    <div class="row">
		<div class="col-md-4 col-md-offset-4">
		    
		    <h1>Edit company</h1>

		    {{ form_start(edit_form) }}

				<div class="form-group">
					{{  form_label(edit_form.name) }}
					{{  form_widget(edit_form.name, {'attr': {'class': 'form-control'}}) }}
				</div>

				<div class="form-group">
					{{  form_label(edit_form.link) }}
					{{  form_widget(edit_form.link, {'attr': {'class': 'form-control'}}) }}
				</div>

				<div class="form-group">
					{{  form_label(edit_form.file) }}
					{{  form_widget(edit_form.file) }}
				</div>

				{{ form_widget(edit_form.submit, {'attr': {'class': 'btn btn-primary pull-left'}}) }}

			{{ form_end(edit_form) }}

        	<a href="{{ path('admin_company') }}" class="btn btn-default pull-right">Back to the list</a>

        	{{ form_start(delete_form) }}  
						{{ form_widget(delete_form.submit, {'attr': {'class': 'btn btn-danger pull-left'}}) }}
        	{{ form_end(delete_form)}}
    	</div>
	</div>
{% endblock %}
