{% extends 'MineralproCmsBundle::admin_layout.html.twig' %}

{% block body -%}
    <div class="container">
        <h1>Company list</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Slug</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{{ entity.name }}</td>
                    <td>{{ entity.link }}</td>
                    <td>
                        <a href="{{ path('admin_company_edit', { 'id': entity.id }) }}">edit</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        
        <a href="{{ path('admin_company_new') }}" class="btn btn-primary">Create a new entry</a>
    </div>
{% endblock %}
