{% extends 'MineralproCmsBundle::admin_layout.html.twig' %}

{% block body -%}

<div class="row">
	<div class="col-md-4 col-md-offset-4">

		<h1>Home edit</h1>


		{{ form_start(edit_form) }}

			<div class="form-group">
				{{  form_label(edit_form.hero_content) }}
				{{  form_widget(edit_form.hero_content, {'attr': {'class': 'form-control'}}) }}
			</div>
			
			
			<div class="form-group">		
				{{ form_label(edit_form.title) }}
				{{ form_widget(edit_form.title, {'attr': {'class': 'form-control'}}) }}
			</div>

			<div class="form-group">
				{{ form_label(edit_form.content) }}
				{{ form_widget(edit_form.content, {'attr': {'class': 'form-control'}}) }}
			</div>

			{{ form_widget(edit_form.submit, {'attr': {'class': 'btn btn-primary pull-left'}}) }}

		{{ form_end(edit_form) }}

		<a href="{{ path('admin_home') }}" class="btn btn-default pull-right">Back</a>

	</div>
</div>

{% endblock %}


{% block javascripts %}
	<script src=" {{ asset('js/ckeditor/ckeditor.js') }}"></script>
	<script>
		CKEDITOR.replace('mineralpro_cmsbundle_home_content');
	</script>
{% endblock %}


