{% extends 'MineralproCmsBundle::admin_layout.html.twig' %}

{% block body -%}
	<div class="container">


    <h1>Homepage</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Hero content</th>
                <th>Title</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.heroContent }}</td>
                <td>{{ entity.title }}</td>
                <td>
	                <a href="{{ path('admin_home_edit', { 'id': entity.id }) }}">edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    </div>

{% endblock %}
