{% extends '::base.html.twig' %}

{% block navigation %}
	<nav class="navbar navbar-default">
		<div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="{{ path('mineralpro_cms_admin_root') }}">
          	mineralpro admin
          </a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="{{ path('admin_home') }}">Homepage</a></li>
            <li><a href="{{ path('admin_company') }}">Companies</a></li>
            <li><a href="{{ path('admin_gallery') }}">Gallery</a></li>
            <li><a href="{{ path('admin_page') }}">Pages</a></li>
            <li><a href="{{ path('admin_brochure') }}">Brochures</a></li>
            {% if is_granted('ROLE_ADMIN') %}
            	<li><a href="{{ path('logout') }}">logout</a></li>
            {% endif %}
        </ul>
      </div>

	</nav>
{% endblock %}

{% block bodyTag %}<body class="admin">{% endblock %}