{% extends '::base.html.twig' %}


{% block navigation %}
	<nav class="navbar navbar-custom navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          
          <a class="navbar-brand" href="{{ path('mineralpro_cms_root') }}">
            <img src="{{ asset('styles/images/logo.jpg') }}" alt="Mineralpro">
          </a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="{{ path('mineralpro_cms_root') }}">Početna</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Prodajni program<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="{{ path('mineralpro_cms_brochures_index') }}">Đubriva</a></li></li>
                <li><a href="{{ path('mineralpro_cms_page', {'slug': 'pesticides'}) }}">Pesticidi</a></li>
                <li><a href="{{ path('mineralpro_cms_page', {'slug': 'seeds'}) }}">Semena</a></li>
                <li><a href="{{ path('mineralpro_cms_page', {'slug': 'irrigation'}) }}">Navodnjavanje</a></li>
                <li><a href="{{ path('mineralpro_cms_page', {'slug': 'other'}) }}">Ostalo</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Cenovnici <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="{{ path('mineralpro_cms_page', {'slug': 'fertilizer-pricelist'}) }}">Đubriva</a></li>
                <li><a href="{{ path('mineralpro_cms_page', {'slug': 'substrates-pricelist'}) }}">Supstrati</a></li>
              </ul>
            </li>
            <li><a href="{{ path('mineralpro_cms_gallery') }}">Galerija</a></li>
            <li><a href="{{ path('mineralpro_cms_page', {'slug': 'contact-us'}) }}">Kontakt</a></li>
        </ul>
      </div>
    </nav>
{% endblock %}

{% block footer %}
	<footer></footer>
{% endblock %}